In [6]:
import pandas as pd
pd.options.display.max_columns = None

In [2]:
data = pd.read_csv('data/yotpo.csv')

In [3]:
data.shape

(5758, 21)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5758 entries, 0 to 5757
Data columns (total 21 columns):
id                       5758 non-null int64
user_type                5758 non-null object
appkey                   5758 non-null object
published                5758 non-null bool
review_title             5756 non-null object
review_content           5757 non-null object
review_score             5758 non-null int64
date                     5758 non-null object
product_id               5758 non-null object
product_url              5758 non-null object
product_title            5758 non-null object
product_description      4311 non-null object
product_image_url        2799 non-null object
display_name             5758 non-null object
email                    5599 non-null object
md_customer_country      1888 non-null object
comment_content          230 non-null object
comment_public           230 non-null float64
comment_created_at       230 non-null object
published_image_url      0 non-null float64
unpublished_image_url    0 non-null float64
dtypes: bool(1), float64(3), int64(2), object(15)
memory usage: 905.4+ KB

In [8]:
# only keep useful columns
col = ['published','review_title','review_content','review_score','date','product_id']
data = data[col]

In [9]:
data.head()

,published,review_title,review_content,review_score,date,product_id
0,False,Great Soap!,The Bay Rum smells great and my dad loves it!,5,2012-10-29 04:00:00 UTC,109190870
1,True,gorgeous soaps!!!,I bought the soaps for a Christmas gift. They...,5,2012-12-01 04:00:00 UTC,109191428
2,True,Soap Saver - Works Great!,"This works great to eliminate the gooey, slimy...",5,2012-12-04 04:00:00 UTC,113623428
3,True,Husband with Sensitive Skin,My husband has sensitive skin and we have been...,5,2012-12-07 04:00:00 UTC,110663055
4,True,Perfect Gift!,"I already use this soap everyday, so I was pum...",5,2012-12-13 04:00:00 UTC,110663055

In [13]:
# convert to pandas datetime
data.date  = pd.to_datetime(data.date)

In [20]:
# remove null value in review_content
data = data[data.review_content.notnull()]

In [23]:
data.to_csv('data/Yotpo_1.csv', index  = False)